attrs==26.1.0
autocommand==2.2.2
black==26.5.1
cffi==2.0.0
click==8.3.3
colorama==0.4.6
cryptography==48.0.0
filelock==3.29.0
isort==9.0.0a3
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
more-itertools==11.1.0
mypy_extensions==1.1.0
nftables==0.1
numpy==2.4.6
packaging==26.2
pathspec==1.1.1
pkg_resources==81.0.0
platformdirs==4.10.0
pycparser==3.0
pytokens==0.4.1
pyxdg==0.28
setuptools==82.0.1
typing_extensions==4.15.0
VapourSynth==76
wheel==0.47.0
